/*Start Section*/
#Title {
    padding-bottom: 5rem;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    padding: 2.9rem 0 1rem 0;
    color: #484848;
}


.container-fluid {
    padding: 3% 13% 0;
}

/* navigation bar */
.navbar {
    padding-bottom: 5rem;
}

.navbar-brand {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Open Sans';
}

.shop-button {
    background-color: #7AC7E6;
    margin: 5% 0 5% 0;
}

    .shop-button:active {
        color: #FFDB58;
    }

.button_name {
    text-decoration: none;
    color: #484848;
}

.title_image {
    height: 450px;
    width: 478px;
}


/* Title Media*/
@media only screen and (max-width: 1080px) {
    #Title {
        text-align: center;
    }

    .nav-link {
        font-size: 1rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .shop-button {
        margin-top: 3%;
        font-size: 16px;
    }

    .title_image {
        height: 350px;
        width: 378px;
    }

    .navbar {
        padding-bottom: 6%;
    }
}



.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  
  /* footer */
  #Footer {
    background-color:#101010;
  }
  
  .line {
    border: 5px solid;
    border-color: #484848;
    margin: 0;
  }
  
  .ft-Title {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .ft-text {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .ft-box {
    text-align: center;
    background: grey;
    padding: 3% 15% 0;
  }
  
  .ft-icon {
    color: white;
    margin-left: 6px;
  }
  
  .copyright-box {
    text-align: center;
    background: grey;
    padding: 0.5%;
  }
  
  .wrapper {
    display:flex;
   align-items: center;
   justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  
  
  .copyright .ft-text .ft-title {
    font-size: 0.7rem;
  }
  