/*Sale*/
.sale-section{
    padding-bottom: 10%;
}

.salecon{
    background-color: #007502;
    display: grid;
    }
    
.container-fluid {
        padding: 3% 13% 0;
    }
    
.ads-text {
color:white;
padding: 10%;
font-family: 'Montserrat';
font-size: 2rem;
text-shadow: #333333; 
    }
      
.sale-btn{
    margin-left: 7%;
    padding-left: 3%;
    padding-right: 3%;
    background-color:#E3001E;
    color:white;
    }
    
.sale-shop-now{
        border-right-style: solid;
        border-right-width: 30px;
        border-right-color: #E3001E;
        background-image:url(../images/salebg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

.btn_sale{
        text-decoration: none;
        color: #f1f1f1;
      }
        
    @media (max-width: 1080px) {
        .saledog{
         width: 750px;
         height: 400px;
        }
         .sale-shop-now{
            background-image:url(../images/salebg2.jpg);
            width: 760px;
            height: 400px;
         }
    
         .ads-text {
            color:whitesmoke;
            padding-bottom: 5%;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 15%;
            }
    
            .sale-btn{
                margin-left: 15%;
                
            }
     }
    
    @media (max-width: 780px) {
       .saledog{
        margin: auto;
        width: 320px;
        height: 220px;
       }
    
       .sale-shop-now{
        background-image:url(../images/salebg2.jpg);
        width: 760px;
        height: 200px;
     }
    
    .ads-text{
     font-size: 1.5rem;
     padding-top: 25%;
     
    }
    
       .sale-shop-now{
        width: 420px;
        height: 320px;
       }
    
    }


/*Global*/

.productcard {
    padding: 3% 3%;
    margin-bottom: 3%;
    border-radius: 10%;
}

.proname {
    padding-top: 9%;
}

.addname {
    margin: 9% 0 4% 0;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat';
    color: #484848;
}

.addprice {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #484848;
}

.addtodetails1 {
    margin-top: 15%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #484848;
}

#form1 {
    width: 5rem;
    text-align: center;
}

.addtodetails2 {
    margin-top: 10%;
    text-align: center;
    font-family: 'Open Sans';
    color: #484848;
}

.modal-body {
    padding: 2% 10% 2%;
}

.form-check-label {
    font-size: 15px;
    font-family: 'Open Sans';
}

.review-box {
    padding: 5% 0 5% 0;
    text-align: left;
    margin-left: 5%;
    font-family: 'Open Sans';
    color: #484848;
}

.review_img {
    border-radius: 50%;
    margin: 20% 7% 7%;
}

.costumer {
    font-family: 'Montserrat';
    color: #484848;
}

.comment {
    font-size: 12px;
    font-family: 'Open Sans';
}

.inputreview {
    font-size: 12px;
    font-family: 'Open Sans';
    margin-top: 5%;
}

.sec_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 2rem 0 3rem 0;
    color: #484848;
    text-align: center;
}

.sec_sub{
    color: #484848;
    padding-top:3%;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #484848;
    font-size: 1.2rem;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

body{
    background-color:white;

}


/* Gobal Media*/
@media(max-width:1080px) {
    .Title {
        font-size: 1.6rem;
        padding: 3rem 0 3rem 0;
    }

    .sec_title {
        font-size: 1.5rem;
        padding: 1rem 0 2rem 0;
    }

    .sec_sub{
        font-size: 0.8rem;
    }
}


/*Start Section*/
#Title {
    padding-bottom: 5rem;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    padding: 2.9rem 0 1rem 0;
    color: #484848;
}

.container-fluid {
    padding: 3% 13% 0;
}


/* navigation bar */
.navbar {
    padding-bottom: 5rem;
}

.navbar-brand {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Open Sans';
}


/* Buttons*/
.shop-button {
    background-color: #7AC7E6;
    margin: 5% 0 5% 0;
  
}

.shop-button:active {
        color: #FFDB58;
    }

.button_name {
    text-decoration: none;
    color: white;
}

.shop-button:hover {
    background-color:#0C2340;
    box-shadow: 0px 15px 20px rgba(15, 77, 146, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.title_image {
    height: 450px;
    width: 478px;
}


/* Title Media*/
@media only screen and (max-width: 1080px) {
    #Title {
        text-align: center;
    }

    .nav-link {
        font-size: 1rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .shop-button {
        margin-top: 3%;
        font-size: 16px;
    }

    .title_image {
        height: 350px;
        width: 378px;
    }

    .navbar {
        padding-bottom: 6%;
    }
}


/* what we offer */
#offer {
    padding: 2rem 0 5rem 0;
}

.offer_image {
    height: 400px;
    width: 380px;
}

.checklist {
    line-height: 5rem;
}

.fa-circle-check {
    color: #FFDB58;
    margin-right: 5%;
}

.checklist_box {
    padding-left: 4rem;
    padding-top: 3rem;
    background-image: url(../images/paws.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Offer Media*/
@media only screen and (max-width:1080px) {

    #offer {
        text-align: center;
    }

    .checklist_box {
        margin: 0 auto;
        height: 369px;
        width: 400px;
    }

    .checklist {
        font-size: 1rem;
        text-align: justify;
    }
}

@media only screen and (max-width:780px) {
    .image2 {
        height: 249px;
        width: 280px;
    }

    .checklist_box {
        height: 349px;
        width: 420px;
    }

    .checklist {
        line-height: 4rem;
        font-size: 0.8rem;
    }
}



/* Category */

.fa-paw{
    color: #FFDB58;
}

#Category {
    padding: 2rem 0 3rem 0;
}

.flex-container {
    text-align: center;
    padding: 0 15% 0;
}

.card-block {
    padding: 9px 20px 9px;
    border-radius: 10%;
    background-color: #FFDB58;
    margin: 13% 25%;

}


.catename {
    text-decoration: none;
    font-family: Open Sans;
    color: #484848;
}

.catnamebox {
    padding-top: 1rem;
}

/*Categories Media*/

@media (max-width:1080px) {
    .cardcolor {
        padding: 3% 1% 1%;
        margin: 7% 27% 3%;
    }
}

@media only screen and (max-width:780px) {

    #Category {
        padding:2% 0% 25%;
    }
    .icon {
        height: 50px;
        width: 50px;
    }

    .cardcolor {
        padding: 3% 1% 1%;
        margin: 7% 10% 3%;
    }
}


/*Product*/

.cardcontainer {
    text-align: center;
    padding: 0 15% 0;
}

.card {
    padding: 3% 3%;
    margin-bottom: 3%;
    border-radius: 10%;
    text-align: center;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.proname {
    padding-top: 9%;
}

.fave {
    text-align: right;
    color: grey;
}

.fave:active {
        color: #DE3163;
    }


@media (max-width:1080px) {
    .card {
        margin: 5% 15% 5%;
    }

    .cardcontainer {
        margin: 0 5% 3%;
    }

    .buttons {
        margin-bottom: 12%;
    }

    .proimage {
        height: 120px;
        width: 120px;

    }

    .proname {
        font-size:1rem;
    }

    .stars {
        height: 5%;
        width: 29%;
    }
}

@media (max-width:780px){
    .card {
        margin: 5% 3% 5%;
    }
    .proimage {
        height: 100px;
        width: 100px;
    }

    .proname {
        font-size: 0.9rem;
    }

    .stars {
        height: 5%;
        width: 29%;
    }
}

/* advertisment */
.advertisment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0 5rem;
}

@media (max-width:1080px) {

    .pic1 {
        height: 224px;
        width: 150px;
    }

    .pic2 {
        height: 224px;
        width: 330px;
    }
}

@media (max-width:780px) {

    .advertisment {
        margin: 3rem 0 4rem;
    }

    .pic1 {
        height: 180px;
        width: 120px;
    }

    .pic2 {
        height: 180px;
        width: 220px;
    }
}

/* Features Product*/
#FeaPro {
    padding: 5% 0 5%;
    text-align: center;
}

.fave {
    text-align: right;
    color: grey;
}

.fave:active {
        color: #DE3163;
    }

/* About Us */
#About_Us {
    padding: 2rem 0 5rem 0;

}

.aboutusimage {
    height: 400px;
    width: 380px;
    text-align: center;
}

.checklist_box {
    padding-left: 4rem;
    padding-top: 3rem;
    background-image: url(../images/paws.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutdetails {
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 5%;
}

.abchecklist {
    line-height: 3rem;
}

/*About Us Media*/
@media only screen and (max-width:1080px) {

    #About_Us {
        text-align: center;
    }

    .checklist_box {
        margin: 0 auto;
        height: 369px;
        width: 400px;
    }

    .abchecklist {
        font-size: 1rem;
        text-align: justify;
    }

    .aboutdetails {
        font-size: 1rem;
    }
}

@media (max-width:780px) {

    .aboutdetails {
        font-size: 1rem;
    }

    .abchecklist {
        font-size: 1rem;
    }

    .checklist_box {
        margin: 0 auto;
        height: 459px;
        width: 450px;
    }

    .abchecklist {
        padding-top: 5%;
        font-size: 0.9rem;
        line-height: 2rem;
    }

    .aboutusimage {
        height: 299px;
        width: 318px;
    }
}


/* Ads 2 */
#ads2 {
    text-align: center;
    padding: 7% 10% 7%;
}

/* Contacts */

.contactbg {
    background-image: url(../images/paws.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 349px;
    width: 420px;
}

.Contact_Title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 5% 0 6% 0;
    margin-left: 5%;
    color: #484848;
}

.contacticon {
    color: #FFDB58;
}

.contactlist {
    line-height: 4rem;
    text-align: justify;
    color: #484848;
    text-align: center;
}


@media (max-width:1080px) {
    #Contact {
        text-align: center;

    }

    .contactlist {
        font-size: 1rem;
        line-height: 4rem;

    }

    .Contact_Title {
        font-size: 1.5rem;
        padding-bottom: 9%;
    }

    .contact_image {
        height: 300px;
        width: 300px;
        margin-left: 30%;
        margin-bottom:0;
    }

    .contactbg {
        height: 249px;
        width: 320px;
        margin:0 auto;
    }
}

@media (max-width:780px) {
    .contactlist {
        font-size: 1rem;
        line-height: 2rem;
    }

    .contact_image {
        margin-left: 10%;
    }
    .contactbg {
        height: 249px;
        width: 320px;
    }
}


/* footer */
#Footer {
    background-color:#101010;
  }
  
  .line {
    border: 5px solid;
    border-color: #484848;
    margin: 0;
  }
  
  .ft-Title {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .ft-text {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .ft-box {
    text-align: center;
    background: grey;
    padding: 3% 15% 0;
  }
  
  .ft-icon {
    color: white;
    margin-left: 6px;
  }
  
  .copyright-box {
    text-align: center;
    background: grey;
    padding: 0.5%;
  }
  
  .wrapper {
    display:flex;
   align-items: center;
   justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  
  .copyright .ft-text .ft-title {
    font-size: 0.7rem;
  }
  