
#Title {
    background-color: white;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.product-name, .category, .price{
    color: #333333;
    font-family: 'Open Sans';
} 

.price {
    font-size: 1rem;
}

.content{
  text-align: justify;
  font-size: 0.9rem;
  padding-top: 5px;
  line-height: 1.5rem;
}

.rate-sub{
  padding-top: 5%;
  font-size: 0.9rem;
}

.sale-icon{
  height: 60px;
  width: 52px;
  align-self: flex-end;
  padding-bottom: 10px;
}

.container-fluid {
    padding: 3% 13% 0;
}

.list-image{
  width: 60px;
  height: 60px;
}

.modal-title{
  font-size: 1.5rem;
  font-weight: bold;
}

/* navigation bar */
.navbar {
    padding-bottom: 3rem;
}

.navbar-brand {
  font-family: 'Montserrat';
    font-size: 2rem;
    font-weight:bolder;
}

.nav-item {
    padding: 0 18px;
}

#categories-items{
  text-align: center;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Open Sans';
}

.a{
    text-decoration:none;
}

.shop-button {
    margin: 5% 3% 5% 0;
    background-color: #7AC7E6;
    margin-top: 9%;
}

.shopp-button:hover {
  background-color:#0C2340;
  box-shadow: 0px 15px 20px rgba(15, 77, 146, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 2% 10% 1rem;
    color: #484848;
}

.Pet {
   text-align:center;
   padding:0 34% 0;
}

.Pet1>h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    color: #484848;
    text-decoration: underline;

}

.Pet2 > h5 > a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    color: #484848;
    text-decoration: none;

}

/* Title Media*/
@media (max-width: 1080px) {
    #Title {
        text-align: center;
    }

    .nav-link {
        font-size: 1rem;
    }

    .shop-button {
        margin-top: 3%;
        font-size: 16px;
        text-align: center;
    }

    .navbar {
        padding-bottom: 8%;
    }
   .Pet{
        padding: 2% 14% 4%;
    }

}

@media (max-width: 1080px) {

    .Title {
            font-size: 1.5rem;
        }


        .icon {
            height: 50px;
            width: 50px;
        }
    }
  
/* cart items */
  .cart-sub{
    text-align: center;
    padding-bottom: 7%;
  }
 
  /* cart item */
  .cart-item {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  /* item info */
  .cart-item .item-info {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .cart-item .item-info:hover {
    background-color:#E4405F;
    cursor: pointer;
    padding: 1rem;
  }
  .cart-item .item-info img {
    width: 60px;
    padding-top: 10%;
    margin: auto;
  }
  

 /* unit price */
  .cart-item .unit-price {
    font-size: 1.2rem;
  }
  
  /* units */
  .cart-item .units {
    flex: 1;
  }

  .cart-item .units .number {
    margin: 0 10px;
    font-size: 1.2rem;
  }

  .cart-item .units .btn {
    width: 50px;
    height: 50px;
    background-color:#7AC7E6;
    border-radius: 5%;
    font-weight: bold;
    cursor: pointer;
  }

  .item-name{
    margin-top: 5%;
    color: #333333;
    text-align: center;
  }
  
  .item-box{
    padding: 10%;
    border-radius: 5%;
    width: 150px;
    height: 150px;
  }

  .wishcard{
    border-radius: 5%;
    width: 100px;
    height: 130px;
    padding: 5% 5% 10%;
  }


.wish-item{
  padding: 5% 0;
}

.wish-item .item-info{
  width: 100%;
  height: 100%;
  text-align: center;
}

  .wish-item .item-info:hover {
    background-color:#E4405F;
    cursor: pointer;
    padding: 1rem;
    height: 170px;
    width: 130px;
  }

  /*list */
.list-img{
  height: 80px;
  width: 80px;
  padding-top: 10%;
  margin: auto;
}

.list-name{
  padding: 5%;
  color: #333333;
  text-align: center;
}

.list-rate{
  height: 25px;
  width:90px;
  margin-top: 50%;
  margin-left: 15%;
}

.list-price{  
margin-top: 50%;
text-align: center;

}

.btn-choice{
  margin-top: 10px;
}
  

/*main product div*/
  * {
      margin:0;
      padding:0;
      box-sizing: border-box;
      letter-spacing: 0.3px;
      font-family: 'Open Sans';
    }
    .productHolder{
      display: grid;
      justify-content: center;
    }
    
  
  /*card*/
    #main{
      cursor: pointer;
      display: grid;
      justify-content: center;
      background-color:white;
      flex-direction: column;
      min-width: 150px;
      max-width: 120px;
      text-align: center;
      min-width: 180px;
      margin: 3rem 3rem 3rem;
      border-radius: 1rem;
      transition: 0.3s;
      border-radius: 10%;
      border:0;
    
    
    }

    #sub{
      padding: 1rem;
      margin-bottom: 15%;
      border-radius: 10%;
    }

  .card-footer{
    background-color: white;
    }

  .card-container{
      display: grid;
      justify-content: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 10%;
    }
     
  /*button*/
    .shopp-button {
      background-color: #7AC7E6;
      margin-top: 9%;
  }

   .shop-button:active {
          color: #FFDB58;
      }
  
  .button-text {
      text-decoration: none;
      color: #484848;
  }
  
  .item-name{
    padding: 1rem;
  }
  
  .pro-image{
    height: 150px;
    width: 120px;
    margin: auto;
    font-family:'Montserrat';
  }
  
  .product-name {
    font-size: 1rem;
  }
  
  .pro-category{
    font-size: 0.7rem;
    color: #484848;
  
  }
  
  @media (max-width:1080px) {
    #main {
        margin: 1rem 2rem 3rem;
    
    }
  
    .product-name {
        font-size: 1rem;
    }
  
  .card-container{
    padding-left: 15%;
  }
  }
  
  
  
  .addname {
    margin: 9% 0 4% 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat';
    color: #484848;
  }
  
  .addprice {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #484848;
  }
  
  
  .addtodetails1 {
    margin-top: 15%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #484848;
  }
  
  #form1 {
    width: 5rem;
    text-align: center;
  }
  
  .addtodetails2 {
    margin-top: 10%;
    text-align: center;
    color: #484848;
  }
  
  .modal-body {
    padding: 2% 10% 2%;
  }
  
  .form-check-label {
    font-size: 15px;
  }
  
  .description{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
  }
  
  .description-content{
    text-size-adjust: 1rem;
    text-align: justify;
  }
  
  .review-box {
    padding: 5% 0 5% 0;
    text-align: left;
    margin-left: 5%;
    color: #484848;
  }
  
  .review_img {
    border-radius: 50%;
    margin: 20% 7% 7%;
  }
  
  .costumer {
    font-family: 'Montserrat';
    color: #484848;
  }
  
  .comment {
    font-size: 12px;
  }
  
  .commentcard{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
  }
  
  .inputreview {
    font-size: 12px;
    margin-top: 10%;
  }
  
  @media (max-width:780px) {
  .card-container{
    padding-left: 5%;;
  }
  }
  
  /*ratings*/
  .ratings-head {
    box-sizing: border-box;
  }
  
  .ratings-sub {
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 20px;
    margin-right: 23px;
    font-family: montserrat;
    color: #484848;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color:#FFDB58;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
  
  
  
  
  /* footer */
  #Footer {
    background-color:#101010;
  }
  
  .line {
    border: 5px solid;
    border-color: #484848;
    margin: 0;
  }
  
  .ft-Title {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .ft-text {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .ft-box {
    text-align: center;
    background: grey;
    padding: 3% 15% 0;
  }
  
  .ft-icon {
    color: white;
    margin-left: 6px;
  }
  
  .copyright-box {
    text-align: center;
    background: grey;
    padding: 0.5%;
  }
  
  .wrapper {
    display:flex;
   align-items: center;
   justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
  }
  
  
  .copyright .ft-text .ft-title {
    font-size: 0.7rem;
  }
  
.productcard {
    padding: 3% 3%;
    margin-bottom: 3%;
    border-radius: 10%;
}



